dganalytics/clients/vodafoneqatar/adf/pipeline.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "tenant": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "vodafoneqatae"
        },
        "env": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "dev"
        },
        "database_name": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "vodafone-qatar-prod"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/dg', parameters('env'), 'adf')]",
        "factoryname": "[concat('dg', parameters('env'), 'adf')]",
        "AzureKeyVault_baseUrl": "[concat('https://dg', parameters('env') ,'secrets.vault.azure.net/')]"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryname'), '/AzureKeyVault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('AzureKeyVault_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(variables('factoryname'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksinstanceurl"
                    },
                    "accessToken": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksaccesstoken"
                    },
                    "existingClusterId": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksclusterid"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/vfq_ssis_replacement')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "find_min_rundate",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Call_Volume",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "find_min_rundate",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "Call_Volume",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_KPI_Team_Target",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "User_KPI_Data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_KPI_Team_Target",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Process_Forecast_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Call_Volume",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Process_Forecast_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Raw_FCR",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "find_min_rundate",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "Raw_FCR",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "User_Details",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "User_AHT_KPI_Data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "User_Details",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "User_FCR_KPI_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Raw_FCR",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "User_FCR_KPI_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Top_Reason_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Admin_Login",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Top_Reason_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "User_KPI_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "User_Details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "User_KPI_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Process_KPI_Data_to_All_Process",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "JSR_Process_TNPS_KPI_Data_to_All_Process",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Process_KPI_Data_to_All_Process",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Process_AHT_KPI_Data_to_All_Process",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "JSR_Process_Forecast_Data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "Process_AHT_KPI_Data_to_All_Process",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Process_TNPS_KPI_Data_to_All_Process",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Process_AHT_KPI_Data_to_All_Process",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Process_TNPS_KPI_Data_to_All_Process",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Process_FCR_KPI_to_All_Process",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "JSR_Process_KPI_Data_to_All_Process",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Process_FCR_KPI_to_All_Process",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Admin_Login",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "find_min_rundate",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "Admin_Login",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_AHT_KPI_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "JSR_Process_FCR_KPI_to_All_Process",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_AHT_KPI_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Trouble_Ticket_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "JSR_KPI_Team_Target",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Trouble_Ticket_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "User_AHT_KPI_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "User_FCR_KPI_Data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "User_AHT_KPI_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "JSR_Process_KPI_Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "JSR_AHT_KPI_Data",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/vodafoneqatar/analytics/main.py",
                            "parameters": [
                                "--database_name",
                                "[parameters('database_name')]",
                                "--env",
                                "[parameters('env')]",
                                "--stage_name",
                                "JSR_Process_KPI_Data",
                                "--step_name",
                                "FetchDelta"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "concurrency": 1,
                "parameters": {
                     "database_name": {
                        "type": "string",
                        "defaultValue": "[parameters('database_name')]"
                    },
                     "env": {
                        "type": "string",
                        "defaultValue": "[parameters('env')]"
                    }
                },
                "folder": {
                    "name": "[parameters('tenant')]"
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/vfq_ssis_replacement_daily_trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "vfq_ssis_replacement",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2020-09-28T05:30:00",
                        "timeZone": "UTC"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/vfq_ssis_replacement')]"
            ]
        }
    ]
}