dganalytics/connectors/sdx/batch/adf/sdx_daily_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "env": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "dev"
        },
        "tenant": {
            "type": "string",
            "metadata": "Tenant Name",
            "defaultValue": "tenant"
        },
        "baseTime": {
            "type": "string",
            "defaultValue": "[utcNow('u')]",
            "metadata": {
                "description": "Schedule will start one hour from this time."
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/dg', parameters('env'), 'adf')]",
        "factoryname": "[concat('dg', parameters('env'), 'adf')]",
        "AzureKeyVault_baseUrl": "[concat('https://dg', parameters('env') ,'secrets.vault.azure.net/')]",
        "dailyDay1TriggerStart": "[dateTimeAdd(parameters('baseTime'), 'P0D', 'yyyy-MM-ddT00:00:00Z')]"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryname'), '/AzureKeyVault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('AzureKeyVault_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(variables('factoryname'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksinstanceurl"
                    },
                    "accessToken": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksaccesstoken"
                    },
                    "existingClusterId": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksclusterid"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_sdx_daily_extract')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "questions",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/sdx/batch/etl/extract_api/main.py",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_start_time",
                                "@pipeline().parameters.extract_start_time",
                                "--extract_end_time",
                                "@pipeline().parameters.extract_end_time",
                                "--api_name",
                                "questions"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "surveys",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/sdx/batch/etl/extract_api/main.py",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_start_time",
                                "@pipeline().parameters.extract_start_time",
                                "--extract_end_time",
                                "@pipeline().parameters.extract_end_time",
                                "--api_name",
                                "surveys"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "interactions",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "02:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/sdx/batch/etl/extract_api/main.py",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_start_time",
                                "@pipeline().parameters.extract_start_time",
                                "--extract_end_time",
                                "@pipeline().parameters.extract_end_time",
                                "--api_name",
                                "interactions"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "dim_hellofresh_interactions",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "interactions",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "questions",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "surveys",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/sdx/batch/etl/transform/main.py",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_start_time",
                                "@pipeline().parameters.extract_start_time",
                                "--extract_end_time",
                                "@pipeline().parameters.extract_end_time",
                                "--transformation",
                                "dim_hellofresh_interactions"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "concurrency": 1,
                "parameters": {
                    "tenant": {
                        "type": "string",
                        "defaultValue": "[parameters('tenant')]"
                    },
                    "extract_start_time": {
                        "type": "string",
                        "defaultValue": "YYYY-MM-DDTHH24:MI:SSZ"
                    },
                    "extract_end_time": {
                        "type": "string",
                        "defaultValue": "YYYY-MM-DDTHH24:MI:SSZ"
                    }
                },
                "folder": {
                    "name": "[parameters('tenant')]"
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_sdx_daily_trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "[concat(parameters('tenant'), '_sdx_daily_extract')]",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "tenant": "[parameters('tenant')]",
                            "extract_start_time": "@{formatDateTime(trigger().outputs.windowStartTime,'yyyy-MM-ddTHH:mm:ssZ')}",
                            "extract_end_time": "@{formatDateTime(trigger().outputs.windowEndTime,'yyyy-MM-ddTHH:mm:ssZ')}"
                        }
                    }
                ],
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 6,
                    "delay": "00:15:00",
                    "startTime": "[variables('dailyDay1TriggerStart')]",
                    "maxConcurrency": 1
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/', parameters('tenant'), '_sdx_daily_extract')]"
            ]
        }
    ]
}