dganalytics/clients/salmatcolesonline/export_gamification_data/adf.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "env": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "dev"
        },
        "tenant": {
            "type": "string",
            "metadata": "Tenant Name",
            "defaultValue": "tenant"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/dg', parameters('env'), 'adf')]",
        "factoryname": "[concat('dg', parameters('env'), 'adf')]",
        "AzureKeyVault_baseUrl": "[concat('https://dg', parameters('env') ,'secrets.vault.azure.net/')]"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryname'), '/AzureKeyVault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('AzureKeyVault_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(variables('factoryname'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksinstanceurl"
                    },
                    "accessToken": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksaccesstoken"
                    },
                    "existingClusterId": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksclusterid"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_Gamification_Export')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Gamification_Export",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 180,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/probeabg/export_gamification_data/probeabg_push_gamification.py",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date",
                                "--org_id",
                                "@pipeline().parameters.tenant"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "KPI  Raw Data",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Gamification_Export",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 180,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/probeabg/export_gamification_data/probeabg_push_roi_kpi_raw_data.py",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date",
                                "--org_id",
                                "@pipeline().parameters.tenant"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "concurrency": 1,
                "parameters": {
                    "tenant": {
                        "type": "string",
                        "defaultValue": "[parameters('tenant')]"
                    },
                    "extract_date": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "[parameters('tenant')]"
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
            ]
        }
    ]
}
