dganalytics/connectors/gpc/batch/adf/gpc_daily_template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "env": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "dev"
        },
        "tenant": {
            "type": "string",
            "metadata": "Tenant Name",
            "defaultValue": "tenant"
        },
        "baseTime": {
            "type": "string",
            "defaultValue": "[utcNow('u')]",
            "metadata": {
                "description": "Schedule will start one hour from this time."
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/dg', parameters('env'), 'adf')]",
        "factoryname": "[concat('dg', parameters('env'), 'adf')]",
        "AzureKeyVault_baseUrl": "[concat('https://dg', parameters('env') ,'secrets.vault.azure.net/')]",
        "dailyDay1TriggerStart": "[dateTimeAdd(parameters('baseTime'), 'P1D', 'yyyy-MM-ddT02:00:00Z')]"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryname'), '/AzureKeyVault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('AzureKeyVault_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(variables('factoryname'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksinstanceurl"
                    },
                    "accessToken": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "dabaricksaccesstoken"
                    },
                    "existingClusterId": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksclusterid"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_gpc_daily_extract')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Extract Users",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/users.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Conversation Details",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/conversation_details.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Users Details",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/users_details.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Routing Queues",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Users",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/routing_queues.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Groups",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Routing Queues",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/groups.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract WFM Adherence",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/wfm_adherence.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Wrapup Codes",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Groups",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/wrapup_codes.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Evaluations",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Transform Dimension Evaluation Forms",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Transform Dimension Evaluation Form Questions",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Transform Dimension Evaluation Question Groups",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Transform Dimension Evaluation Answer Options",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/evaluations.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Conversations",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Conversation Details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_conversations.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Evaluations",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluations",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_evaluations.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Routing Queues",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Routing Queues",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_routing_queues.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension User Groups",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Transform Dimension Users",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Extract Groups",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_user_groups.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Users",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Users",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_users.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Fact Conversation Metrics",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_conversation_metrics.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Fact Evaluation Question Group Scores",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluations",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_evaluation_question_group_scores.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Fact Evaluation Question Scores",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluations",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_evaluation_question_scores.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Fact Evaluation Total Scores",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluations",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_evaluation_total_scores.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Fact Users Primary Presence",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Users Details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_primary_presence.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Fact Users Routing Status",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Users Details",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_routing_status.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Fact WFM Actuals",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract WFM Adherence",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_wfm_actuals.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Fact WFM Day Metrics",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract WFM Adherence",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/fact_wfm_day_metrics.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Extract Evaluation Forms",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/extract_api/evaluation_forms.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Evaluation Answer Options",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluation Forms",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_evaluation_form_answer_options.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Evaluation Question Groups",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluation Forms",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_evaluation_form_question_groups.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Evaluation Form Questions",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluation Forms",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_evaluation_form_questions.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform Dimension Evaluation Forms",
                        "type": "DatabricksSparkPython",
                        "dependsOn": [
                            {
                                "activity": "Extract Evaluation Forms",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "00:30:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 1800,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pythonFile": "[concat('dbfs:/mnt/datagamz/', parameters('tenant'), '/code/dganalytics/dganalytics/connectors/gpc/batch/etl/transform/dim_evaluation_forms.py')]",
                            "parameters": [
                                "--tenant",
                                "@pipeline().parameters.tenant",
                                "--run_id",
                                "@pipeline().RunId",
                                "--extract_date",
                                "@pipeline().parameters.extract_date"
                            ]
                        },
                        "linkedServiceName": {
                            "referenceName": "AzureDatabricks",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "parameters": {
                    "tenant": {
                        "type": "string",
                        "defaultValue": "[parameters('tenant')]"
                    },
                    "extract_date": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "[parameters('tenant')]"
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_gpc_daily_trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "[concat(parameters('tenant'), '_gpc_daily_extract')]",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "tenant": "[parameters('tenant')]",
                            "extract_date": "@{formatDateTime(trigger().outputs.windowStartTime,'yyyy-MM-dd')}"
                        }
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "[variables('dailyDay1TriggerStart')]",
                        "timeZone": "UTC"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/', parameters('tenant'), '_gpc_daily_extract')]"
            ]
        }
    ]
}