dganalytics/connectors/gpc_v2/batch/adf/gpc_powerbi_export.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "env": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "dev"
        },
        "tenant": {
            "type": "string",
            "metadata": "Tenant Name",
            "defaultValue": "tenant"
        },
        "baseTime": {
            "type": "string",
            "defaultValue": "[utcNow('u')]",
            "metadata": {
                "description": "Schedule will start one hour from this time."
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/dg', parameters('env'), 'adf')]",
        "factoryname": "[concat('dg', parameters('env'), 'adf')]",
        "AzureKeyVault_baseUrl": "[concat('https://dg', parameters('env') ,'secrets.vault.azure.net/')]",
        "dailyDay1TriggerStart": "[dateTimeAdd(parameters('baseTime'), 'P0D', 'yyyy-MM-ddT00:00:00Z')]"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryname'), '/AzureKeyVault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('AzureKeyVault_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(variables('factoryname'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksinstanceurl"
                    },
                    "accessToken": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksaccesstoken"
                    },
                    "existingClusterId": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksclusterid"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_gpc_powerbi_export')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
              "activities": [
                {
                  "name": "dimWrapupCodes",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_wrapup_codes",
                      "--output_file_name",
                      "gDimWrapupCodes"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dim_division",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_division",
                      "--output_file_name",
                      "gDimDivision"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dim_queue_state",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_queue_state",
                      "--output_file_name",
                      "gDimQueueState"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimBuMuMapping",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_bu_mu_mapping",
                      "--output_file_name",
                      "gDimBuMuMapping"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimPresenceDefinitions",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_presence_definitions",
                      "--output_file_name",
                      "gDimPresenceDefinitions"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimEvaluationFormAnswerOptions",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_evaluation_form_answer_options",
                      "--output_file_name",
                      "gDimEvaluationFormAnswerOptions"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimEvaluationFormQuestionGroups",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_evaluation_form_question_groups",
                      "--output_file_name",
                      "gDimEvaluationFormQuestionGroups"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimEvaluationFormQuestions",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_evaluation_form_questions",
                      "--output_file_name",
                      "gDimEvaluationFormQuestions"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimEvaluationForms",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimEvaluationFormAnswerOptions",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_evaluation_forms",
                      "--output_file_name",
                      "gDimEvaluationForms"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimEvaluations",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimEvaluationFormQuestionGroups",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "dimEvaluationFormQuestions",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_evaluations",
                      "--output_file_name",
                      "gDimEvaluations"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimRoutingQueues",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_routing_queues",
                      "--output_file_name",
                      "gDimRoutingQueues"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "gFactConversationSurveys",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_conversation_surveys",
                      "--output_file_name",
                      "gFactConversationSurveys"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimUserGroups",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimUsers",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_user_groups",
                      "--output_file_name",
                      "gDimUserGroups"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimUsers",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimRoutingQueues",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_users",
                      "--output_file_name",
                      "gDimUsers"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "dimConversations",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                  ],
                  "policy": {
                    "timeout": "01:00:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "dim_conversations",
                      "--output_file_name",
                      "gDimConversations"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factConversationMetrics",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimConversations",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_conversation_metrics",
                      "--output_file_name",
                      "gFactConversationMetrics"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factConversationMetricsPerConversation",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimConversations",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_conversation_metrics_per_conversation",
                      "--output_file_name",
                      "gFactConversationMetricsPerConversation"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factEvaluationQuestionGroupScores",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimEvaluations",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_evaluation_question_group_scores",
                      "--output_file_name",
                      "gFactEvaluationQuestionGroupScores"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factEvaluationQuestionScores",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimEvaluationForms",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_evaluation_question_scores",
                      "--output_file_name",
                      "gFactEvaluationQuestionScores"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factEvaluationTotalScores",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "dimEvaluationForms",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_evaluation_total_scores",
                      "--output_file_name",
                      "gFactEvaluationTotalScores"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factPrimaryPresence",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_primary_presence",
                      "--output_file_name",
                      "gFactPrimaryPresence"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factRoutingStatus",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "factPrimaryPresence",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_routing_status",
                      "--output_file_name",
                      "gFactRoutingStatus"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factWfmActuals",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "factWfmDayMetrics",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_wfm_actuals",
                      "--output_file_name",
                      "gFactWfmActuals"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factWfmExceptions",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "factWfmDayMetrics",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_wfm_exceptions",
                      "--output_file_name",
                      "gFactWfmActuals"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "factWfmDayMetrics",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_wfm_day_metrics",
                      "--output_file_name",
                      "gFactWfmDayMetrics"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_speechandtextanalytics",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_speechandtextanalytics",
                      "--output_file_name",
                      "gFactSpeechAndTextAnalytics"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "speechandtextanalytics_topics",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "speechandtextanalytics_topics",
                      "--output_file_name",
                      "gSpeechAndTextAnalyticsTopics"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_conversation_transcript_topics",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_conversation_transcript_topics",
                      "--output_file_name",
                      "gFactConversationTranscriptTopics"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_conversation_attribute",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_conversation_attribute",
                      "--output_file_name",
                      "gFactConversationAttribute"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_conversation_transcript_sentiments",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/gpc_pb_standard_export.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant",
                      "--run_id",
                      "@pipeline().RunId",
                      "--extract_name",
                      "fact_conversation_transcript_sentiments",
                      "--output_file_name",
                      "gFactConversationTranscriptSentiments"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "powerbi_refresh",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "factEvaluationQuestionScores",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factEvaluationTotalScores",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factEvaluationQuestionGroupScores",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "dimUserGroups",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factRoutingStatus",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factWfmActuals",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factWfmExceptions",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "dimWrapupCodes",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "dimBuMuMapping",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "dimPresenceDefinitions",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "gFactConversationSurveys",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factConversationMetrics",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    },
                    {
                      "activity": "factConversationMetricsPerConversation",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/connectors/gpc_v2/batch/etl/reporting/powerbi_refresh.py",
                    "parameters": [
                      "--tenant",
                      "@pipeline().parameters.tenant"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ],
                "parameters": {
                    "tenant": {
                        "type": "string",
                        "defaultValue": "[parameters('tenant')]"
                    }
                },
                "folder": {
                    "name": "[parameters('tenant')]"
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_gpc_powerbi_export_trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "[concat(parameters('tenant'), '_gpc_powerbi_export')]",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "tenant": "[parameters('tenant')]",
                            "extract_start_time": "@{formatDateTime(trigger().outputs.windowStartTime,'yyyy-MM-ddTHH:mm:ssZ')}",
                            "extract_end_time": "@{formatDateTime(trigger().outputs.windowEndTime,'yyyy-MM-ddTHH:mm:ssZ')}"
                        }
                    }
                ],
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 6,
                    "delay": "00:05:00",
                    "startTime": "[variables('dailyDay1TriggerStart')]",
                    "maxConcurrency": 1
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/', parameters('tenant'), '_gpc_powerbi_export')]"
            ]
        }
    ]
}
