dganalytics/clients/simplyenergy/export_data/adf/simplyenergy_sftp_export_facts.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "env": {
            "type": "string",
            "metadata": "Environment name",
            "defaultValue": "uat"
        },
        "tenant": {
            "type": "string",
            "metadata": "Tenant Name",
            "defaultValue": "simplyenergy"
        },
        "baseTime": {
            "type": "string",
            "defaultValue": "[utcNow('u')]",
            "metadata": {
                "description": "Schedule will start one hour from this time."
            }
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/dg', parameters('env'), 'adf')]",
        "factoryname": "[concat('dg', parameters('env'), 'adf')]",
        "AzureKeyVault_baseUrl": "[concat('https://dg', parameters('env') ,'secrets.vault.azure.net/')]",
        "dailyDay1TriggerStart": "[dateTimeAdd(parameters('baseTime'), 'P0D', 'yyyy-MM-ddT00:30:00Z')]"
    },
    "resources": [
        {
            "name": "[concat(variables('factoryname'), '/AzureKeyVault')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureKeyVault",
                "typeProperties": {
                    "baseUrl": "[variables('AzureKeyVault_baseUrl')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(variables('factoryname'), '/AzureDatabricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksinstanceurl"
                    },
                    "accessToken": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksaccesstoken"
                    },
                    "existingClusterId": {
                        "type": "AzureKeyVaultSecret",
                        "store": {
                            "referenceName": "AzureKeyVault",
                            "type": "LinkedServiceReference"
                        },
                        "secretName": "databricksclusterid"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_sftp_export_facts')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
              "activities": [
                {
                  "name": "fact_conversation_metrics",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_conversation_metrics",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_conversation_evaluations",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "fact_conversation_metrics",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_conversation_evaluations",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_conversation_attributes",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "fact_conversation_metrics",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_conversation_attributes",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_conversation_surveys",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [
                    {
                      "activity": "fact_conversation_metrics",
                      "dependencyConditions": [
                        "Succeeded"
                      ]
                    }
                  ],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_conversation_surveys",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_user_primary_presence",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_user_primary_presence",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_user_routing_status",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_user_routing_status",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                },
                {
                  "name": "fact_surveys",
                  "type": "DatabricksSparkPython",
                  "dependsOn": [],
                  "policy": {
                    "timeout": "00:30:00",
                    "retry": 1,
                    "retryIntervalInSeconds": 1800,
                    "secureOutput": false,
                    "secureInput": false
                  },
                  "userProperties": [],
                  "typeProperties": {
                    "pythonFile": "dbfs:/mnt/datagamz/code/dganalytics/dganalytics/clients/simplyenergy/export_data/simplyenergy_sftp_export.py",
                    "parameters": [
                      "--extract_start_time",
                      "@pipeline().parameters.extract_start_time",
                      "--extract_end_time",
                      "@pipeline().parameters.extract_end_time",
                      "--export_name",
                      "fact_surveys",
                      "--sftp_host",
                      "@pipeline().parameters.sftp_host",
                      "--sftp_username",
                      "@pipeline().parameters.sftp_username",
                      "--sftp_password",
                      "@pipeline().parameters.sftp_password",
                      "--sftp_folder_path",
                      "@pipeline().parameters.sftp_folder_path"
                    ]
                  },
                  "linkedServiceName": {
                    "referenceName": "AzureDatabricks",
                    "type": "LinkedServiceReference"
                  }
                }
              ],
                "concurrency": 1,
              "parameters": {
                "extract_start_time": {
                  "type": "string",
                  "defaultValue": "YYYY-MM-DDTHH24:MI:SSZ"
                },
                "extract_end_time": {
                  "type": "string",
                  "defaultValue": "YYYY-MM-DDTHH24:MI:SSZ"
                },
                "sftp_host": {
                  "type": "string",
                  "defaultValue": "simplyenergySFTPHost"
                },
                "sftp_username": {
                  "type": "string",
                  "defaultValue": "simplyenergySFTPUsername"
                },
                "sftp_password": {
                  "type": "string",
                  "defaultValue": "simplyenergySFTPPassword"
                },
                "sftp_folder_path": {
                  "type": "string",
                  "defaultValue": "./"
                }
              },
                "folder": {
                    "name": "[parameters('tenant')]"
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureDatabricks')]"
            ]
        },
        {
            "name": "[concat(variables('factoryname'), '/', parameters('tenant') ,'_sftp_export_facts_trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "[concat(parameters('tenant'), '_sftp_export_facts')]",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "extract_start_time": "@{formatDateTime(trigger().outputs.windowStartTime,'yyyy-MM-ddTHH:mm:ssZ')}",
                            "extract_end_time": "@{formatDateTime(trigger().outputs.windowEndTime,'yyyy-MM-ddTHH:mm:ssZ')}"
                        }
                    }
                ],
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 1,
                    "startTime": "[variables('dailyDay1TriggerStart')]",
                    "maxConcurrency": 1
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/', parameters('tenant'), '_sftp_export_facts')]"
            ]
        }
    ]
}
